/*
 Import Contact  
 */


.import_wrapper{
    margin-top: 5rem;
}
.import_background{
    min-height: 95vh;
  }
  
  /* Table Section  */
.table_section{
    border-radius: 1rem !important;
  }
table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 1rem !important;
}
.table td , .table th{
  border-top: 1px solid #3d80c4;
}
  th {
    background-color: #d0def2;
    padding: 0.75rem 2rem !important;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-top: 1px solid #3d80c4 !important;
    border-color: #3d80c4;
    background-color: #e8eff7 !important;
  }

  td {
    padding: 0.625rem 2rem !important;
    border-top: 1px solid #3d80c4;
    border-color: #3d80c4;
    text-align: center;
  }



