.contact_maildata{
    background-color: #c7e7f7;
    min-height: calc(100vh - 2.5rem);
}

.form-check-input {
    border: 2px solid #050505;
    margin: 0;
}
.list-group-item-light{
    background-color: #0064ff;
    color: white !important;;
}
.list-group-item{
    /* border: 2px solid #2664af; */
    padding: 0.875rem auto !important;
    padding: 0.925rem !important;
}
.contact_maildata li:nth-child(even){
    background-color: #eaf4f9;
}



