.contact_maildata{
    background-color: #c7e7f7;
    min-height: calc(100vh - 2.5rem);
}
/* For Input Field  */
.form-check-input {
    border: 2px solid #2664af;
    background-color: rgb(247, 246, 246)
}
.contact_body{
    padding: 0.25rem ;
    /* text-align: center; */
}
.contact_body .col{
    padding: 0.175rem;
    /* text-align: center; */
}